@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap')

// Breakpoints
phone= 480px
tablet= 768px
pc= 1080px

* 
  box-sizing border-box


primary-color= #22254b
secondary-color= #373b69

body 
  background-color primary-color
  font-family 'Poppins', sans-serif
  margin 0

