
header 
  ul#menu 
    li: a(href="/?resource=movie") Movies
    li: a(href="/?resource=tv") Series
  .languages 
    img(src="img/flags/it.svg", alt="lingua italiana", data-language='it-IT', data-region='IT')
    img(src="img/flags/gb.svg", alt="english language", data-language='en-GB', data-region='GB')
    img(src="img/flags/es.svg", alt="lengua espanola", data-language='es-ES', data-region='ES')
    img(src="img/flags/de.svg", alt="Deutsche Sprache", data-language='de-DE', data-region='DE')
  form#form 
    input#search.search(type='text', placeholder='Search')



main#main 
  //- .movie 
  //-   img(src='https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Y2luZW1hfGVufDB8fDB8fHww', alt='')
  //-   .movie-info
  //-     h3 Movie Title
  //-     span.green 9.8
    
  //-   .overview 
  //-     h3 Overview 
  //-     Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae repellendus error itaque eveniet reprehenderit natus quibusdam inventore officiis facilis voluptas.

.paginate 
  .controls
    button#prev(disabled)  
      <i class="fa-solid fa-angles-left"></i>
  ul 
    //- li.highlight: a 1
    //- li: a 2
    //- li: a 3
    //- li: a 4
    //- li: a 5
  .controls 
    button#next 
      <i class="fa-solid fa-angles-right"></i>  
footer 
  .about
    p By unibox - 2024
    .social
      i.fa-brands.fa-telegram(aria-hidden="true")
      p  
        a(href='https://t.me/unibox', target='_blank') t.me/unibox